services:
  gemini-api:
    image: ghcr.io/ishalumi/gemini-business-moemail:latest
    # 如需本地构建，注释上面的 image 并取消下面的注释
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    ports:
      - "7860:7860"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
